@charset "utf-8";

@font-face {
    font-family: "Road_Rage";
    src: url(Fonts/Road_Rage.otf);
}
@font-face {
    font-family: "Indelible";
    src: url(Fonts/Indelible.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}

html, body{
    width: 100%;
    height: 100vh;
    background-color: #17181f;
    background-image: url(img/PR-mets-novosite.png.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*to right, #060320 40%, #e2119d, #00e7d0 */
header{
    height: 10vh;
    position: relative;
}


.bt-nav{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.bt{
    padding: 25px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;

    transition: background .5s;
}
#bt-cadastro{
    background: linear-gradient(to right, #6000b975, #00e7d0);
}
.logo h1{
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: "Indelible";
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
    color: #00e7d0;
    padding: 10px;
    border-top: 2px solid #00e7d0;
    background-color: #6000b9;
    border-radius: 50%;
    text-shadow: 0 0 0 20px #6000b9,
                 0 0 0 40px #6000b9,
                 0 0 0 80px #6000b9,
                 0 0 0 100px #6000b9;
                 
    
}

.container-conteudo{

}
.container-conteudo .texto{
    color: #00e7d0;
    font-family: "Road_Rage";
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0 0 20px black;
}


