@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100vh;
    background-color: #17181f;
}
.container-conteudo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 38px;
}
/*to right, #060320 40%, #e2119d, #00e7d0 */
header{
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.bt-nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #fff;
}

.logo h1{
    
    color: #00e7d0;
    text-shadow: 0 0 10px #00e7d0,
                 0 0 25px #00e7d0,
                 0 0 50px #00e7d0,
                 0 0  75px #00e7d0,
                 0 0 100px #00e7d0;
    animation: 2s linear infinite;
}