@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

@font-face {
    font-family: "bebas neue", sans-serif;
    src: url(Fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo */
html{
    background: rgb(95, 95, 95);
    height: 100%;
}


/* CABEÇALHO */
header{
    padding-bottom: 60px;
}
.menu-content{
    display: flex;
    justify-content: space-around;
    margin: 38px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    gap: 30px;
}

/* logo*/

.logo-hmi{
    color: gold;
}
.logo{
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #fff;
    cursor: pointer;
}
.logo-store{
    color: rgb(0, 102, 255);
}

/* navegação */
.menu-itens{
    font-family: 'Sarala', sans-serif ;
    color: gold;
    height: 45px;
    text-decoration: none;
    padding: 10px;
    border-top: solid 1px rgb(255, 217, 0);
    border-radius: 20px;
}
.menu-itens:hover{
    border: solid 2px gold;
    background-color: rgba(0, 0, 0, 0.281);
    font-size: 15px;
}

/* Conteudo Main */

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.texto-principal{
    font-family: "bebas neue", sans-serif;
    font-size: 58px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
}
.texto-secundario{
    font-family: "bebas neue", sans-serif;
    font-weight: 400;
    color: gold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-top: 60px;
}
.botao-ind{
    border: solid 2px blue;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    box-shadow: 1px 1px 3px  black;
    padding: 12.5px;
    font-family: 'Sarala', sans-serif ;
    font-weight: bold;
    color: #fff;
}

.botao-ind:hover{
    border: solid 2px gold;
    box-shadow: 1px 1px 3px  black;
    background-color: rgba(0, 0, 0, 0.281);
    color: gold;
}