@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 300vh;
}
span{
    color: #f9004b;
}
.sessao-1{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8%;
}
.sessao-1 .logo{
    position: relative;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}
.sessao-1 .logo::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 164px;
    height: 5px;
    border-radius: 4px;
    background-color: #f9004b;
}
nav ul li{
    display: inline-block;
    padding: 10px 25px;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color .5s;
}
nav ul li a:hover{
    color: #f9004b;
}
.btn-main{
    background-color: #f9004b;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 20px;
    transition: transform .5s;
}
.btn-main:hover{
    transform: scale(1.2);
}

.main{
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-50);
}
.main h1{
    color: #fff;
    margin: 20px 0 20px;
    font-size: 5rem;
    letter-spacing: 2px;
}
.main h3{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 50px;

}
.main h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.container-input form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.container-input form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 12px 130px 12px 12px;
}