@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(img/neon-tropical-monstera-leaf-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vidro-box{
    margin: auto;
    width: 400px;
    max-width: 500px;
    padding: 10px 0px;
    background-color: #000000;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 15px 15px rgba(0, 0, 0, 0.671);
    border-radius: 20px;
}
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}


.perfil-img{
    border: solid 3px rgba(255, 255, 255, 0.534);
    border-radius: 50%;
    box-shadow: 0px 0px 50px 15px #00000077;
}
p{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5px;
    margin-top: 15px;
}
.botoes{
    background: transparent;
    padding: 18px 32px;
    width: 200px;
    border-radius: 20px;
    border: solid 3px rgba(255, 255, 255, 0.534);
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


/* Personalização individual (botoes) */
#github{}
#instagram{}
#pinterest{}
#linkedin{}
#twitter{}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    gap: 15px;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 18px 3px;
    border-radius: 20px;
}