@charset "utf-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 200px;
    border: solid 2px red;
    padding: 10px;

}
.bola{
    border-radius: 50%;
    background-color: blue;
    height: 200px;
    width: 200px;
}
.bola:hover{
    transform: translate(100px, 40px);
}