@charset "UTF-8";

@font-face {
    font-family: "BebasNeue", sans-serif;
    src: url(Fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    background-color: #223240;
}

/* Conteudo */
.conteudo-texto-img{ /* buscar imagem em storyset.com*/
    display: flex;
    flex-direction: column;
}
h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}
.box-login{
    height: 80%;
    background-color:#2b4153;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.685);
}
h2{
    color: rgb(0, 255, 128);
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    font-family: "BebasNeue", sans-serif;
    padding-bottom: 15px;
}
label{
    color: #fff;
    font-family: "BebasNeue", sans-serif;
    padding-bottom: 10px;
}

input{
    padding: 5px;
    outline: none;
    margin-bottom: 35px;
    height: 38px;
    width: 320px;
    border: none;
    border-radius: 10px;
    background-color: #465e74;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.685);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.623);
}
.botao-login{
    align-items: center;
    padding: 5px;
    margin-bottom: 35px;
    height: 50px;
    width: 330px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 0px 10px 40px 12px rgba(61, 255, 142, 0.603);
    background-color: rgb(87, 255, 191);
    color: rgb(22, 50, 51);
    cursor: pointer;
}
img{
    width: 500px;

    transform: translateX(50px);
}


