@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: rgb(0, 110, 255);
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
}

img{
    margin: 10px;
}

h1{
    margin-bottom: 10px;
}
p{
    margin-bottom: 40px;
    color: #fff;
    opacity: 0.7;
}

input,button{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
input{
    margin-bottom: 20px;
    border: none;
}
button{
    background-color: #0e3fa1;
    color: #fff;
    transition: filter  1.5s;
}
button:hover{
    background-color: rgb(0, 110, 255);
    filter: brightness(1);
    cursor: pointer;

}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}